<tr>
  <td class="mainCol    "><%= link_to post.title, post %></td>
  <!--<td><%= post.content %></td>-->

  <td><%= link_to post.user.email, post.user %></td>
  <td><%= image_tag post.image_url(:thumb).to_s %></td>
  <td>
    <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-small btn-info' %>
    <%= link_to 'Del', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-warning' %>
  </td>
</tr>
